* { margin: 0; padding: 0; }


.row { width: 100%; }

header {
  background: rgb(49, 49, 49); color: rgb(255, 255, 255);
  margin: 0;
  height: 100px; width: 100%;
  min-width: 1024px;
  float: left; }

header nav {
  width: 1024px; height: 100px;
  margin: 0 auto; }

header nav ul#menu {
  list-style: none;
  width: 1024px; height: 100px;
  margin: 0;}

header nav ul#menu li {
  float: left;
  margin-right: 50px;
  width: 100px; height: 100px; }

#menu li a {
  font-size: 50px;
  display: block;
  width: 100px; height: 100px;
  padding: 20px 25px;
  color: rgb(255, 255, 255); }

#menu li a:hover { background: rgb(100, 100, 100); }

.container {
  clear: left; width: 1024px;
  margin-top: 400px; }

.alert .text { color: #a94442;}

h2 {
  border-bottom: solid 3px rgb(49, 49, 49);
  padding-bottom: 15px;
}

body { background: rgb(240,240,240) }

.container .card {
  border-radius: 10px;
  width: 1024px;
  background: rgb(255, 255, 255); padding: 10px 30px; margin-top: 20px;}

.pics-card {
  width: 150px; height: 150px; }
.pics-card img {
  border-radius: 20px;
  width: 150px; height: 150px;
  display: block;
}
.pics-card p {
  border-radius-bottom: 20px;
  width: 150px; height: 30px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
  top: -30px;
  background: rgba(255, 255, 255, .5);
}

.tile { list-style: none; }
.tile li { width: 200px; height: 200px; float: left; margin-left: 30px;}
p.end { clear: both; }

.mctable { width: 950px; margin-top: 20px;}
.mctable thead tr { border-bottom: solid 2px rgb(49, 49, 49); }
.mctable thead th { padding-bottom: 10px;  }
.mctable tbody td { padding-bottom: 20px; }
.mctable tbody tr:hover { background: rgb(240, 240, 240) }
